<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ycp.adroidlibrary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CampUs"
        android:theme="@style/AppTheme" >
        <activity
            android:name="View.Dashboard"
            android:label="CampUs" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
        </activity>
        <activity
            android:name="View.calendarActivity"
            android:label="Calendar" >
        </activity>
    </application>

</manifest>
